<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsz.mapper.FollowsMapper">
	
	<!-- 添加跟踪记录 int add(Follows foll); -->
	<insert id="add" parameterType="follows">
		insert into t_follows(fid,sid,uid,visittime,visitcase,trackingmode,nexttrackingtime,fremark,stustatus)
		values(#{fid},#{sid},#{uid},#{visittime},#{visitcase},#{trackingmode},#{nexttrackingtime},#{fremark},#{stustatus})
	</insert>
	
	<!-- 获取所有数据 List<Follows> getAll(FenyeUtil<Follows> fy); -->
	<select id="getAll" resultMap="followsMap">
		select * from t_follows tf right join t_students ts on ts.sid = tf.sid
		<where>
			<if test="t.sid != '' and t.sid != null">
				tf.sid = #{t.sid}
			</if>
			<if test="t.stustatus != '' and t.stustatus != null">
				and ts.sname like "%" #{t.stustatus} "%"
			</if>
			<if test="t.uid != '' and t.uid != null">
				and ts.szxsid like "%" #{t.uid} "%"
			</if>
			<if test="t.trackingmode != '' and t.trackingmode != null"> 
				and tf.trackingmode like "%" #{t.trackingmode} "%"
			</if>
			<if test="t.visittime != '' and t.visittime != null">
				and tf.visittime &gt;= #{t.visittime}
			</if>
			<if test="t.fremark != '' and t.fremark != null">
				and tf.visittime &lt; #{t.fremark}
			</if>
			<if test="t.visitcase != '' and t.visitcase != null"> 
				and tf.visitcase like "%" #{t.visitcase} "%"
			</if>
		</where>
		order by tf.visittime desc limit #{page}, #{limit}
	</select>
	
	<!-- 获取数据总条数 Integer getCount(FenyeUtil<Follows> fy); -->
	<select id="getCount" resultType="int">
		select count(*) from t_follows tf right join t_students ts on ts.sid = tf.sid
		<where>
			<if test="t.sid != '' and t.sid != null">
				tf.sid = #{t.sid}
			</if>
			<if test="t.stustatus != '' and t.stustatus != null">
				and ts.sname like "%" #{t.stustatus} "%"
			</if>
			<if test="t.uid != '' and t.uid != null">
				and ts.szxsid like "%" #{t.uid} "%"
			</if>
			<if test="t.trackingmode != '' and t.trackingmode != null"> 
				and tf.trackingmode like "%" #{t.trackingmode} "%"
			</if>
			<if test="t.visittime != '' and t.visittime != null">
				and tf.visittime &gt;= #{t.visittime}
			</if>
			<if test="t.fremark != '' and t.fremark != null">
				and tf.visittime &lt; #{t.fremark}
			</if>
			<if test="t.visitcase != '' and t.visitcase != null"> 
				and tf.visitcase like "%" #{t.visitcase} "%"
			</if>
		</where>
	</select>
	
	<!-- 修改跟踪记录 int edit(Follows foll); -->
	<update id="edit">
		update t_follows
		<set>
			<if test="visittime != '' and visittime != null">
				visittime = #{visittime}
			</if>
			<if test="visitcase != '' and visitcase != null">
				,visitcase = #{visitcase}
			</if>
			<if test="trackingmode != '' and trackingmode != null">
				,trackingmode = #{trackingmode}
			</if>
			<if test="nexttrackingtime != '' and nexttrackingtime != null">
				,nexttrackingtime = #{nexttrackingtime}
			</if>
			<if test="fremark != '' and fremark != null">
				,fremark = #{fremark}
			</if>
			<if test="stustatus != '' and stustatus != null">
				,stustatus = #{stustatus}
			</if>
		</set>
		<where>
			<if test="fid != '' and fid != null">
				fid = #{fid}
			</if>
		</where>
	</update>
	
	<!-- 删除跟踪记录 Integer del(List<String> fid); -->
	<delete id="del">
		delete from t_follows where fid in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 获取所有日志（网络跟踪） List<Follows> getWlgz(FenyeUtil<Follows> fy); -->
	<select id="getWlgz" resultMap="followsMap">
		select * from t_follows tf right join t_students ts on ts.sid = tf.sid 
		left join t_users tu on tf.uid = tu.uid
		<where>
			<if test="t.sid != '' and t.sid != null">
				tf.sid = #{t.sid}
			</if>
			<if test="t.stustatus != '' and t.stustatus != null">
				and ts.sname like "%" #{t.stustatus} "%"
			</if>
			<if test="t.uid != '' and t.uid != null">
				and tu.loginname like "%" #{t.uid} "%"
			</if>
			<if test="t.trackingmode != '' and t.trackingmode != null"> 
				and tf.trackingmode like "%" #{t.trackingmode} "%"
			</if>
			<if test="t.visittime != '' and t.visittime != null">
				and tf.visittime &gt;= #{t.visittime}
			</if>
			<if test="t.fremark != '' and t.fremark != null">
				and tf.visittime &lt; #{t.fremark}
			</if>
			<if test="t.visitcase != '' and t.visitcase != null"> 
				and tf.visitcase like "%" #{t.visitcase} "%"
			</if>
			<!-- 只显示有效学生的跟踪记录 -->
			<if test="t.fid != '' and t.fid != null"> 
				and ts.ifvalid = #{t.fid}
			</if>
			<!-- 根据手机号查询当前咨询师所拥有的学生 -->
			<if test="t.nexttrackingtime != '' and t.nexttrackingtime != null">
				and ts.uphone = #{t.nexttrackingtime}
			</if>
		</where>
		order by tf.visittime desc limit #{page}, #{limit}
	</select>
	
	<!-- 获取所有日志（网络跟踪）总条数  Integer getWlgzNum(FenyeUtil<Follows> fy); -->
	<select id="getWlgzNum" resultType="int">
		select count(*) from t_follows tf right join t_students ts on ts.sid = tf.sid 
		left join t_users tu on tf.uid = tu.uid
		<where>
			<if test="t.sid != '' and t.sid != null">
				tf.sid = #{t.sid}
			</if>
			<if test="t.stustatus != '' and t.stustatus != null">
				and ts.sname like "%" #{t.stustatus} "%"
			</if>
			<if test="t.uid != '' and t.uid != null">
				and tu.loginname like "%" #{t.uid} "%"
			</if>
			<if test="t.trackingmode != '' and t.trackingmode != null"> 
				and tf.trackingmode like "%" #{t.trackingmode} "%"
			</if>
			<if test="t.visittime != '' and t.visittime != null">
				and tf.visittime &gt;= #{t.visittime}
			</if>
			<if test="t.fremark != '' and t.fremark != null">
				and tf.visittime &lt; #{t.fremark}
			</if>
			<if test="t.visitcase != '' and t.visitcase != null"> 
				and tf.visitcase like "%" #{t.visitcase} "%"
			</if>
			<!-- 只显示有效学生的跟踪记录 -->
			<if test="t.fid != '' and t.fid != null"> 
				and ts.ifvalid = #{t.fid}
			</if>
			<!-- 根据手机号查询当前咨询师所拥有的学生 -->
			<if test="t.nexttrackingtime != '' and t.nexttrackingtime != null">
				and ts.uphone = #{t.nexttrackingtime}
			</if>
		</where>
	</select>
	
	<!-- 结果集映射 -->
	<resultMap type="follows" id="followsMap">
		<id property="fid" column="fid"/>
		<result property="sid" column="sid"/>
		<result property="uid" column="uid"/>
		<result property="visittime" column="visittime"/>
		<result property="visitcase" column="visitcase"/>
		<result property="trackingmode" column="trackingmode"/>
		<result property="nexttrackingtime" column="nexttrackingtime"/>
		<result property="fremark" column="fremark"/>
		<result property="stustatus" column="stustatus"/>
		<association property="student">
			<id property="sid" column="sid"/>
			<result property="sname" column="sname"/>
			<result property="szxsid" column="szxsid"/>
		</association>
		<association property="user">
			<id property="uid" column="uid"/>
			<result property="loginname" column="loginname"/>
		</association>
	</resultMap>

</mapper>